h1 {
    color: rgb(1, 29, 1);
    font-style: bold;
  }

.note {
  color: black;
  padding-top: 3px;
  font-size: 15px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}